.media-container {
  display: flex;
  flex-direction: column; /* Column-wise alignment */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text alignment */
  margin-top: 80px;
  width: 100%;
  box-sizing: border-box;
}

.media-container h2,
.media-container h1 {
  margin: 0; /* Remove default margin */
  padding: 10px 0; /* Add spacing */
}
.media-container h2 {
  color: #e4875d;
  font-weight: bold;
}

.media-offering-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  box-sizing: border-box;
  height: 100vh;
}

.media-offering-div img {
  max-width: 80%;
  height: auto;
  display: block;
  margin-top: 10px;
}

.inner-div-1,
.inner-div-2 {
  display: flex;
  gap: 30px;
}
.inner-div-1 div,
.inner-div-2 div {
  width: 300px;
  height: 250px;
  border: 1px solid rgb(204, 204, 204, 0.5);
  background-color: #e1e0e18f;
  border-radius: 20px;
}
.inner-div-2 {
  margin-top: 30px;
}
.inner-div-1 {
  margin-top: -70px;
}
.inner-div-1 h1 {
  font-size: 20px;
  padding: 15px 15px;
  font-weight: bold;
  margin-left: 30px;
  border-bottom: 1px solid #ccc;
}
.inner-div-2 h1 {
  font-size: 20px;
  padding: 15px 15px;
  font-weight: bold;
  margin-left: 30px;
  border-bottom: 1px solid #ccc;
}
.inner-div-1 div,
.inner-div-2 div {
  text-align: left; /* Text ko left-align karne ke liye */
}
.inner-div-1 li,
.inner-div-2 li {
  list-style-position: inside; /* Bullet points ko andar laane ke liye */
  padding-left: 0; /* Extra padding hatane ke liye */
  margin-left: 0; /* Left side se margin hatane ke liye */
  list-style-type: none;
  line-height: 20px;
  font-size: 14px;
  padding: 5px 15px;
}
.inner-div-1 img,
.inner-div-2 img {
  width: 20px;
}
span {
  position: relative; /* Parent container ko relative banane ke liye */
}

span img {
  position: absolute; /* Image ko parent ke andar fix karne ke liye */
  top: 18px;
  left: 10px;
}

.inner-div-1 div,
.inner-div-2 div {
  transition: transform 0.3s ease-in-out; /* Smooth animation ke liye */
}

.inner-div-1 div:hover,
.inner-div-2 div:hover {
  transform: translateY(8px); /* Hover hone par div niche move hoga */
}

.inner-div-1 div span img,
.inner-div-2 div span img {
  transition: transform 0.3s ease-in-out; /* Image ke liye smooth transition */
}

.inner-div-1 div:hover span img,
.inner-div-2 div:hover span img {
  transform: scale(2.1); /* Image zoom effect */
}
.pricing-card {
  width: 1200px;
  margin-top: 150px;
}
input {
  border-radius: 20px;
  outline: none;
  border: 1px solid #ccc;
  padding: 3px 8px;
}

@media (max-width: 768px) {
  .inner-div-1,
  .inner-div-2 {
    flex-direction: column;
  }
  .inner-div-1 {
    margin-top: 50px;
  }
  .media-offering-div {
    height: 50vh;
  }
  .media-offering-div img {
    max-width: 100%;
  }
  .pricing-card {
    width: 95%;
    margin-top: 50px;
  }
}
