*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    
}
nav{
    display: flex;
    width: 1200px;
    height: 60px;
    margin-top: 24px;   
    border-radius: 16px;
    border: 1px solid #ccc;
    padding: 12px 12px 12px 24px; 
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 2rem;
}
nav ul li{
    list-style-type: none;
}
li i{
    margin-left: 5px;
    font-size: 0.8rem;
}

.login-btn{
    width: 84px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px 24px 10px 24px ;
    background-color:  #E4875D1A;   
    color: #E4875D;
    font-weight: bold; 
}
.demo-btn{
    width: 153px;
    height: 40px;
    border-radius: 8px;
    padding: 10px 24px 10px 24px;
    background-color: #E4875D;
    border: none;
    outline: none;
    font-weight: bold;
    color: white;
    margin-left: 10px;

}

